<table class="table table-striped table-hover">
  <tbody>
  <tr>
    <td>Payment Amount</td>
    <td>$9.99</td>
  </tr>
  <tr>
    <td>Service</td>
    <td>Package A</td>
  </tr>
  </tbody>
</table>
<br />
<table class="table table-striped table-hover">
  <tbody>
  <tr>
    <td>
      <p>
        Visa
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        1234-5678-1234-5678
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        John Doe
      </p>
    </td>
  </tr>
  </tbody>
</table>
