<div class="well-lg">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="accountNumRidVin" class="col-md-2 control-label">Radio ID, Account Number or VIN</label>
      <div class="col-md-8">
        <input type="text" class="form-control" id="accountNumRidVin" placeholder="Radio ID, Account Number or VIN">
      </div>
    </div>
    <div class="form-group">
      <label for="accountNum" class="col-md-2 control-label">Account Number</label>
      <div class="col-md-8">
        <input type="text" class="form-control" id="accountNum" placeholder="Account Number">
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-md-2 control-label">Last Name</label>
      <div class="col-md-8">
        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group">
      <label for="zipcode" class="col-md-2 control-label">Zipcode</label>
      <div class="col-md-8">
        <input type="text" class="form-control" id="zipcode" placeholder="Radio ID, Account Number or VIN">
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNum" class="col-md-2 control-label">Phone</label>
      <div class="col-md-8">
        <input type="tel" class="form-control" id="phoneNum" placeholder="###-###-####">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8 col-md-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <a type="button" href="flow/review" class="btn btn-primary">Submit</a>
      </div>
    </div>
  </form>
</div>
